<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="centro.webmaster@googlemail.com">
  <Info>
    <Comments />
    <Name>webmaster</Name>
    <Username>centro.webmaster@googlemail.com</Username>
    <Email>centro.webmaster@googlemail.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>false</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEJ6hzDWs8NFAy21pMgLEhRhIb77LfMx8hWamhhxh5TA5Ft3ucjXszjKBFncmiWO1Bw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>